#!/bin/sh

interface=$1
status=$2

beginswith() { case $2 in "$1"*) true;; *) false;; esac; }
restart_ovpn() { systemctl restart openvpn-client@{{ client_name }}.service; }

if [ "$status" = "up" ]; then
  if beginswith wlp "$interface"; then restart_ovpn; fi
  if beginswith enp "$interface"; then restart_ovpn; fi
  if beginswith eth "$interface"; then restart_ovpn; fi
  if beginswith wlan "$interface"; then restart_ovpn; fi
fi
