[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/bin/sh -a -c '. ${HOME}/.profile && /usr/bin/tmux new-session -d'

ExecStop=/bin/sh -c '{{ tmux_data_dir }}/plugins/tmux-resurrect/scripts/save.sh'
ExecStop=/usr/bin/tmux kill-server
Restart=always
KillMode=none


[Install]
WantedBy=multi-user.target
