run-shell '{{ tmux_data_dir }}/plugins/tmux-sensible/sensible.tmux'

run-shell '{{ tmux_data_dir }}/plugins/tmux-pain-control/pain_control.tmux'

# https://github.com/tmux-plugins/tmux-resurrect
set -g @resurrect-processes 'nano man less more tail top htop ssh micro'
set -g @resurrect-capture-pane-contents 'on'
run-shell '{{ tmux_data_dir }}/plugins/tmux-resurrect/resurrect.tmux'

# solarized
set -g @colors-solarized '256'
run-shell '{{ tmux_data_dir }}/plugins/tmux-colors-solarized/tmuxcolors.tmux'

# powerline
set-option -g status on
set-option -g status-interval 3
set-option -g status-justify "left"
set-option -g status-left-length 5
set-option -g status-right-length 90
set-option -g status-left "#({{ tmux_data_dir }}/plugins/tmux-powerline/powerline.sh left) "
set-option -g status-right "#({{ tmux_data_dir }}/plugins/tmux-powerline/powerline.sh right)"
set-window-option -g window-status-current-format "#I:#W "
set-window-option -g window-status-format "#I:#W "

# 


# enable activity alerts
setw -g monitor-activity on
set -g visual-activity off
set-option -g bell-action none

# change terminal info
set -g set-titles on
set -g set-titles-string "#T"

# windows start from 1
set -g base-index 1

# if run as "tmux attach", create a session if one does not already exist
new-session -n $HOST

# jump to left/right window
bind-key -n M-PPage previous-window
bind-key -n M-NPage next-window

# mouse
set -g mouse on

# mouse scrolling
bind -n WheelUpPane   if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; copy-mode -e; send-keys -M"
bind -n WheelDownPane if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; send-keys -M"
#bind -t emacs-copy WheelUpPane   page-up
#bind -t emacs-copy WheelDownPane page-down

# fix keys
set-window-option -g xterm-keys on

# htop/top
bind-key t new-window "htop || top"
