#!/bin/sh

# {{ ansible_managed }}

{% for interface in cjdns_interface_networks|default([]) %}

{% for addr in interface.ip4_addresses|default([]) %}
ip addr add dev {{ interface.name }} {{ addr }} || echo "already existed"
{% endfor %}

{% for route in interface.ip4_routes|default([]) %}
ip route add dev {{ interface.name }} {{ route.destination }} || echo "already existed"
{% endfor %}


{% endfor %}
