# {{ ansible_managed }}
INTERVAL={{ fancontrol_interval }}
DEVPATH={{ fancontrol_DEVPATH }}
DEVNAME={{ fancontrol_DEVNAME }}
FCTEMPS={{ fancontrol_FCTEMPS }}
FCFANS={{ fancontrol_FCFANS }}
MINTEMP={{ fancontrol_MINTEMP }}
MAXTEMP={{ fancontrol_MAXTEMP }}
MINSTART={{ fancontrol_MINSTART }}
MINSTOP={{ fancontrol_MINSTOP }}
MINPWM={{ fancontrol_MINPWM }}
