! {{ ansible_managed }}

! base00: #2d2d2d
! base01: #393939
! base02: #515151
! base03: #747369
! base04: #a09f93
! base05: #d3d0c8
! base06: #e8e6df
! base07: #f2f0ec
! base08: #f2777a
! base09: #f99157
! base0A: #ffcc66
! base0B: #99cc99
! base0C: #66cccc
! base0D: #6699cc
! base0E: #cc99cc
! base0F: #d27b53


! Enable the extended coloring options
rofi.color-enabled: true
!                  bg             border   separator
rofi.color-window: #393939, #393939, #2d2d2d
!                  bg             fg       bg-alt   hl-bg    hl-fg
rofi.color-normal:  #393939, #d3d0c8, #393939, #393939, #f2f0ec
rofi.color-active:  #393939, #6699cc, #393939, #393939, #6699cc
rofi.color-urgent: #393939, #f2777a, #393939, #393939, #f2777a

rofi.separator-style: solid
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: true
rofi.location: 0
rofi.width: 500
rofi.font: Hack Nerd Font 12
rofi.lines: 12
rofi.fixed-num-lines: true
