# Backlight
bindsym XF86MonBrightnessUp   exec light -A 3 && notify-send 'Brightness' $(light) --expire-time 1
bindsym XF86MonBrightnessDown exec light -U 3 && notify-send 'Brightness' $(light) --expire-time 1

# Volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute $(pactl list sinks short | cut -f1) toggle && pkill -USR1 py3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume $(pactl list sinks short | cut -f1) -3% && pkill -USR1 py3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume $(pactl list sinks short | cut -f1) +3% && pkill -USR1 py3status

# Media player controls
bindsym XF86AudioPlay exec playerctl play
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
