# {{ ansible_managed }}
# Read `man 5 sway` for a complete reference.

### Variables
#
# Logo key. Use Mod1 for Alt.
set $mod Mod4

# Home row direction keys, like vim
set $left   h
set $leftR  Cyrillic_er
set $down   j
set $downR  Cyrillic_o
set $up     k
set $upR    Cyrillic_el
set $right  l
set $rightR Cyrillic_de

### Common colors
#
set $base00 #2d2d2d
set $base01 #393939
set $base02 #515151
set $base03 #747369
set $base04 #a09f93
set $base05 #d3d0c8
set $base06 #e8e6df
set $base07 #f2f0ec
set $base08 #f2777a
set $base09 #f99157
set $base0A #ffcc66
set $base0B #99cc99
set $base0C #66cccc
set $base0D #6699cc
set $base0E #cc99cc
set $base0F #d27b53

### Key bindings
#
# Basics:
#

# kill focused window
bindsym $mod+Shift+q               kill
bindsym $mod+Shift+Cyrillic_shorti kill

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# reload the configuration file
bindsym $mod+Shift+c reload
bindsym $mod+Shift+Cyrillic_es reload

# exit sway (logs you out of your wayland session)
set $swaynagexit swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'
bindsym $mod+Shift+e          exec $swaynagexit
bindsym $mod+Shift+Cyrillic_u exec $swaynagexit

#
# Moving around:
#
# Move your focus around
bindsym $mod+$left   focus left
bindsym $mod+$leftR  focus left
bindsym $mod+$down   focus down
bindsym $mod+$downR  focus down
bindsym $mod+$up     focus up
bindsym $mod+$upR    focus up
bindsym $mod+$right  focus right
bindsym $mod+$rightR focus right
# or use $mod+[up|down|left|right]
bindsym $mod+Left  focus left
bindsym $mod+Down  focus down
bindsym $mod+Up    focus up
bindsym $mod+Right focus right

# _move_ the focused window with the same, but add Shift
bindsym $mod+Shift+$left   move left
bindsym $mod+Shift+$leftR  move left
bindsym $mod+Shift+$down   move down
bindsym $mod+Shift+$downR  move down
bindsym $mod+Shift+$up     move up
bindsym $mod+Shift+$upR    move up
bindsym $mod+Shift+$right  move right
bindsym $mod+Shift+$rightR move right
# ditto, with arrow keys
bindsym $mod+Shift+Left  move left
bindsym $mod+Shift+Down  move down
bindsym $mod+Shift+Up    move up
bindsym $mod+Shift+Right move right

#
# Workspaces:
#
set $ws1 1
set $ws2 2
set $ws3 3
set $ws4 4
set $ws5 5
set $ws6 6
set $ws7 7
set $ws8 8
set $ws9 9
set $ws10 10:💬

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

# navigate workspaces next / previous
bindsym $mod+Ctrl+Right workspace next
bindsym $mod+Ctrl+Left  workspace prev

#
# Layout stuff:
#
# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b               splith;exec notify-send 'tile horizontally' --expire-time 500
bindsym $mod+Cyrillic_i      splith;exec notify-send 'tile horizontally' --expire-time 500
bindsym $mod+v               splitv;exec notify-send 'tile vertically' --expire-time 500
bindsym $mod+Cyrillic_em     splitv;exec notify-send 'tile vertically' --expire-time 500
bindsym $mod+q               split toggle
bindsym $mod+Cyrillic_shorti split toggle

# Switch the current container between different layout styles
bindsym $mod+s             layout stacking
bindsym $mod+Cyrillic_yeru layout stacking
bindsym $mod+w             layout tabbed
bindsym $mod+Cyrillic_tse  layout tabbed
bindsym $mod+e             layout toggle split
bindsym $mod+Cyrillic_u    layout toggle split

# Make the current focus fullscreen
bindsym $mod+f          fullscreen
bindsym $mod+Cyrillic_a fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+Ctrl+space focus mode_toggle

# move focus to the parent container
bindsym $mod+a           focus parent
bindsym $mod+Cyrillic_ef focus parent

# move workspace to next display
bindsym $mod+m                 move workspace to output left
bindsym $mod+Cyrillic_softsign move workspace to output left
bindsym $mod+comma             move workspace to output right
bindsym $mod+Cyrillic_be       move workspace to output right

#
# Scratchpad:
#
# Sway has a "scratchpad", which is a bag of holding for windows.
# You can send windows there and get them back later.

# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

#
# Resizing containers:
#
mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left   resize shrink width 10 px or 10 ppt
    bindsym $leftR  resize shrink width 10 px or 10 ppt
    bindsym $down   resize grow height 10 px or 10 ppt
    bindsym $downR  resize grow height 10 px or 10 ppt
    bindsym $up     resize shrink height 10 px or 10 ppt
    bindsym $upR    resize shrink height 10 px or 10 ppt
    bindsym $right  resize grow width 10 px or 10 ppt
    bindsym $rightR resize grow width 10 px or 10 ppt

    # ditto, with arrow keys
    bindsym Left  resize shrink width 10 px or 10 ppt
    bindsym Down  resize grow height 10 px or 10 ppt
    bindsym Up    resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    # return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r           mode "resize"
bindsym $mod+Cyrillic_ka mode "resize"

# Include other config parts
include {{ lookup('env','XDG_CONFIG_HOME') }}/sway/config.d/*
