# Font for window titles.
font pango:Hack Nerd Font 10

# class                 border  backgr. text    indicat child
client.focused          $base05 $base05 $base00 $base05 $base05
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08


default_border pixel 1
default_floating_border pixel 1
hide_edge_borders smart

#gaps edge_gaps off
gaps outer 0
gaps inner 1
smart_gaps on

# app decoration styling
for_window [title="^.*Mozilla\ Firefox$"] border none
for_window [title="^.*Visual\ Studio\ Code$"] border none
for_window [title="Calculator"] border none
for_window [title="Image Viewer"] border none
for_window [app_id=nautilus] border none
for_window [app_id=eog] border none
for_window [app_id=evince] border none
for_window [app_id=gnome-boxes] border none
for_window [app_id=gnome-calculator] border none
for_window [app_id=gnome-control-center] border none
for_window [app_id=gnome-disks] border none
for_window [app_id=gnome-calculator] border none
for_window [app_id=gnome-software] border none
for_window [app_id=gnome-system-monitor] border none
for_window [app_id=gnome-text-editor] border none
for_window [app_id=gnome-tweaks] border none
