Host localhost
  ControlMaster no

Host * !localhost
  ControlMaster auto
  ControlPersist 2h
  ControlPath {{ lookup('env','HOME') }}/.ssh/sockets/socket-%r@%h:%p

Host *
  TCPKeepAlive yes
  ServerAliveInterval 10
  ServerAliveCountMax 10
  ForwardAgent yes
  HashKnownHosts no

Host *.onion
  ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=9050
