# {{ ansible_managed }}
# Read `man 5 sway-bar` for more information about this section.

bar {
  status_command py3status -b -s -i "{{ lookup('env','XDG_CONFIG_HOME') }}/i3status/py3status"
  position top
  font pango:Hack Nerd Font 10
  separator_symbol "| "
  wrap_scroll no
  workspace_buttons yes
  strip_workspace_numbers yes
  # height

  # tray {
  #   activate_button BTN_LEFT
  #   context_button BTN_RIGHT
  #   secondary_button BTN_MIDDLE
  #   tray_output all
  #   tray_padding 2
  #   icon_theme Adwaita
  # }

  colors {
    statusline $base04
    background $base00
    separator $base01
    # focused_background
    # focused_statusline
    focused_workspace   $base05 $base05 $base00
    active_workspace    $base05 $base03 $base00
    inactive_workspace  $base03 $base01 $base05
    urgent_workspace    $base08 $base08 $base00
    binding_mode        $base00 $base0A $base00
  }
}
