# Your preferred terminal emulator
set $term termite -d "$(cat /tmp/$USER-pwd || echo $HOME)"

# Your preferred application launcher
set $menu rofi -modi combi -show combi -combi-modi "drun,run,ssh" -show-icons -terminal $term

# start a terminal
bindsym $mod+Return exec $term

# start your launcher
bindsym $mod+d           exec $menu
bindsym $mod+Cyrillic_ve exec $menu

# lock session
set $swaylock swaylock -i {{ wallpaper }} --scaling=fill
bindsym Ctrl+Alt+l           exec $swaylock
bindsym Ctrl+Alt+Cyrillic_de exec $swaylock


# bind program to workspace
assign [title="Telegram"] $ws10

# set floating (nontiling) for special apps
# for_window [class="Gnome-control-center" instance="gnome-control-center"] floating enable

# auto fullscreen
for_window [title="feh\ .*"] fullscreen enable
for_window [title="Media viewer"] fullscreen enable

#
# autorstart
#
# lock on idle and sleep
exec --no-startup-id swayidle \
  timeout 600 'swaylock -i {{ wallpaper }} --scaling=fill' \
  timeout 1200 'swaymsg "output * dpms off"' \
	resume 'swaymsg "output * dpms on"' \
  before-sleep 'swaylock -i {{ wallpaper }} --scaling=fill'

# notification daemon
exec --no-startup-id /usr/bin/mako --font 'pango:Hack Nerd Font 10' --markup 1

# ssh/gpg agent
exec --no-startup-id sh -c "echo '' | /usr/bin/gnome-keyring-daemon -r --components='gpg,pkcs11,secrets,ssh' --unlock"

# build font cache if needed
exec --no-startup-id fc-cache
