#input {
  background-color: #353b45;
  color: #565c64;
  border-color: #3e4451;
}

#input:focus {
  border-color: #e5c07b;
}
window {
  border: 1px solid #abb2bf;
  margin: 0px;
  background-color: #282a36;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #44475a;
  font-size: 18px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  background-color: #44475a;
}

#entry label {
  font-size: 18px;
}
