[general]
targets = gh-my, gh-xod
shorten = True
inline_links = False
annotation_links = False
annotation_comments = False
legacy_matching = False
annotation_length = 45
description_length = 35
merge_annotations = True
merge_tags = True
static_fields = priority

[gh-my]
service = github
github.login = knopki
github.token = {{ lookup('passwordstore','websites/github.com/knopki subkey=bugwarrior_token') }}
github.username = knopki
github.import_labels_as_tags = False
github.filter_pull_requests = False
github.only_if_assigned = knopki
github.also_unassigned = False
github.default_priority = L
github.add_tags = gh
github.include_user_issues = True
github.involved_issues = True
; github.include_repos = devops-at-home
github.exclude_repos = xod, xod-docs, xod-secrets, services.xod.io

[gh-xod]
service = github
github.login = knopki
github.token = {{ lookup('passwordstore','websites/github.com/knopki subkey=bugwarrior_token') }}
github.username = xodio
github.import_labels_as_tags = False
github.filter_pull_requests = False
github.only_if_assigned = knopki
github.also_unassigned = False
github.default_priority = M
github.add_tags = gh, xod
github.include_user_issues = True
github.involved_issues = True
github.include_repos = xod, xod-docs, xod-secrets, services.xod.io
github.project_template = {{ '{{project|replace(\'.\',\'-\')}}' }}
