# {{ ansible_managed }}

uda.intheamtrelloboardid.type=string
uda.intheamtrelloboardid.label=Inthe.AM Trello Board ID
uda.intheamtrellolistid.type=string
uda.intheamtrellolistid.label=Inthe.AM Trello List ID
uda.intheamtrellodescription.type=string
uda.intheamtrellodescription.label=Inthe.AM Trello Description
uda.intheamtrelloid.type=string
uda.intheamtrelloid.label=Inthe.AM Trello Object ID
uda.intheamoriginalemailsubject.type=string
uda.intheamoriginalemailsubject.label=Inthe.AM E-mail Subject
uda.intheammergedfrom.type=string
uda.intheammergedfrom.label=Inthe.AM Duplicate Tasks Merged
uda.intheamtrellourl.type=string
uda.intheamtrellourl.label=Inthe.AM Trello URL
uda.intheamoriginalemailid.type=numeric
uda.intheamoriginalemailid.label=Inthe.AM E-mail ID
uda.intheamattachments.type=string
uda.intheamattachments.label=Inthe.AM Attachments
uda.intheamduplicateof.type=string
uda.intheamduplicateof.label=Inthe.AM Duplicate of Task
uda.intheamtrellolistname.type=string
uda.intheamtrellolistname.label=Inthe.AM Trello List Name
