# Sync settings
include {{ taskwarrior_config_directory }}/taskd

# Inthe.am settings
include {{ taskwarrior_config_directory }}/intheam

# Bug Warrior
include {{ taskwarrior_config_directory }}/bugwarrior

# Custom data location
data.location={{ taskwarrior_data_directory }}

search.case.sensitive=no
weekstart=Monday

{% if inventory_hostname != 'alien.1984.run' %}
recurrence=no
{% endif %}

# Tashsh
report._reviewed.description=Tasksh review report.  Adjust the filter to your needs.
report._reviewed.columns=uuid
report._reviewed.sort=reviewed+,modified+
report._reviewed.filter=( reviewed.none: or reviewed.before:now-1week ) and ( +PENDING or +WAITING )
uda.reviewed.type=date
uda.reviewed.label=Reviewed

# Contexts
context.work=+xod
context.home=+athome
context.my=-xod

# Inbox filter
report.inbox.columns=id,start.age,entry.age,priority,tags,description,urgency
report.inbox.description=Inbox
report.inbox.filter=-PROJECT status:pending limit:page
report.inbox.labels=ID,Active,Age,P,Tag,Description,Urg

# Next report
report.next.filter=status:pending limit:page -BLOCKED -delegated

# Delegated report
report.delegated.columns=id,description,start.age,depends,priority,project,recur,scheduled.countdown,due.relative,until.remaining
report.delegated.laberls=ID,Description,Active,Deps,P,Project,Recur,S,Due,Until
report.delegated.filter=status:pending -BLOCKED +delegated
report.delegated.sort=urgency-

# Urgency
uda.priority.values=H,M,,L
urgency.uda.priority.H.coefficient=6.0
urgency.uda.priority.L.coefficient=-1.8
urgency.uda.priority.M.coefficient=3.9
urgency.user.tag.later.coefficient=-6.0
urgency.user.tag.problem.coefficient=4.5

# on-modify.relative-recur hook
uda.relativeRecurDue.type=duration
uda.relativeRecurDue.label=Rel. Rec. Due
uda.relativeRecurWait.type=duration
uda.relativeRecurWait.label=Rel. Rec. Wait

# habitica
uda.id_habitica.type=string
uda.id_habitica.label=Habitica ID
