# profiling
#zmodload zsh/zprof

source "{{ lookup('env','HOME') }}/.zprofile"

# set zsh dirs
ZDOTDIR={{ ZDOTDIR }}
ZDATADIR={{ ZDATADIR }}
ZCACHEDIR={{ ZCACHEDIR }}
ZPLUGINSDIR="${ZDATADIR}/plugins"

# autoload functions
fpath=( $ZDOTDIR/functions "${fpath[@]}" )
for f in `ls $ZDOTDIR/functions`; do
  autoload -Uz $f
done

# add functions to prompt
precmd_functions=($precmd_functions save_pwd)

# enable 256 colors
source_if_possible "${ZPLUGINSDIR}/zsh-256color/zsh-256color.plugin.zsh"

# theme
SPACESHIP_HG_SHOW=false
SPACESHIP_HG_BRANCH_SHOW=false
SPACESHIP_HG_STATUS_SHOW=false
SPACESHIP_RUBY_SHOW=false
SPACESHIP_ELM_SHOW=false
SPACESHIP_ELIXIR_SHOW=false
SPACESHIP_XCODE_SHOW_LOCAL=false
SPACESHIP_XCODE_SHOW_GLOBAL=false
SPACESHIP_SWIFT_SHOW_LOCAL=false
SPACESHIP_SWIFT_SHOW_GLOBAL=false
SPACESHIP_PHP_SHOW=false
SPACESHIP_HASKELL_SHOW=false
SPACESHIP_JULIA_SHOW=false
SPACESHIP_AWS_SHOW=false
SPACESHIP_CONDA_SHOW=false
SPACESHIP_DOTNET_SHOW=false
SPACESHIP_BATTERY_SHOW=false
SPACESHIP_EXIT_CODE_SHOW=true
source_if_possible "${ZPLUGINSDIR}/spaceship-prompt/spaceship.zsh"

# fzf settings
if [ -z $TMUX ]; then
  FZF_TMUX=1
fi
#FZF_DEFAULT_COMMAND=''
FZF_DEFAULT_OPTS="--color=dark"
FZF_COMPLETION_TRIGGER='**'
#FZF_COMPLETION_OPTS='+c -x'
#FZF_CTRL_T_COMMAND

# Automopletion stuff
source "${ZDOTDIR}/completion.zsh"

# History stuff
source "${ZDOTDIR}/history.zsh"

# Set title
source "${ZDOTDIR}/title.zsh"

# Aliases
source "${ZDOTDIR}/aliases.zsh"

# calculator
source "${ZPLUGINSDIR}/calc/calc.plugin.zsh"

# zsh-you-should-use
YSU_HARDCORE=1
source "${ZPLUGINSDIR}/zsh-you-should-use/you-should-use.plugin.zsh"

# fast-syntax-highlighting
source "${ZPLUGINSDIR}/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh"

# Key bindings
source "${ZDOTDIR}/key-bindings.zsh"

# zsh-history-substring-search
source "${ZPLUGINSDIR}/zsh-history-substring-search/zsh-history-substring-search.zsh"

# zsh-autosuggestions
ZSH_AUTOSUGGEST_USE_ASYNC="true"
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=10'
source "${ZPLUGINSDIR}/zsh-autosuggestions/zsh-autosuggestions.zsh"

# don't beep on error
setopt no_beep

# Changing/making/removing directory
setopt auto_pushd
setopt pushd_ignore_dups
setopt pushdminus

# jobs
setopt long_list_jobs

# recognize comments
setopt interactivecomments

# Nice ls colors
eval "$(dircolors "$XDG_CONFIG_HOME"/dircolors)"
